<%inherit file="app_base.html" />

<%block name ="Header">
    <div class="row">
        <div class="container">
            <div class="col-md-8 ">
                <h1>About FOMO<h1>
            </div>
        </div>
    </div>
</%block>

        <%block name="content">
            <div class="Row">
                <div class="container text-center">
                     <h1>  Est. 2018 </h1>
                </div>
            </div>
        </%block>


        <%block name="left">

        </%block>

        <%block name="center"> 
            <div class="row"> <div class="container">
                    <div class="col-md-12">
                            <p class="text-center"><strong> Good News </strong></p>
                            <p class = "text-justify ">
                                    Pellentesque molestie ullamcorper gravida. 
                                    Suspendisse aliquet purus eu aliquam bibendum. 
                                    Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                    lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                    Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                     pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                     sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                     Pellentesque molestie ullamcorper gravida. 
                                     Suspendisse aliquet purus eu aliquam bibendum. 
                                     Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                     lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                     Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                      pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                      sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                      Pellentesque molestie ullamcorper gravida. 
                                      Suspendisse aliquet purus eu aliquam bibendum. 
                                      Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                      lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                      Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                       pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                       sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                       Pellentesque molestie ullamcorper gravida. 
                                       Suspendisse aliquet purus eu aliquam bibendum. 
                                       Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                       lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                       Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                        pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                        sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                            </p>
                    </div></div></div>
        </%block>
        <%block name="right">

        </%block>






      




