<%inherit file="app_base.html" />

<%block name ="Header">
    <div class="row" style="background-color:blueviolet">
        <div class="container">
            <div class="col-md-8 ">
                <h1>Header<h1>
            </div>
        </div>
    </div>
</%block>

        <%block name="content">
            <div class="Row">
                <div class="container text-center" style="background-color:green">
                     <h1>   Stuff above the columns</h1>
                </div>
            </div>
        </%block>


        <%block name="left">
        <div class="row">
                <div class="container">
                    <div class="col-md-4" style="background-color:yellow">
                            <p class="text-center"><strong> Left</strong></p>
                            sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                            Pellentesque molestie ullamcorper gravida. 
                            Suspendisse aliquet purus eu aliquam bibendum. 
                            Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                            lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                            Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                             pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                             sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                             Pellentesque molestie ullamcorper gravida. 
                             Suspendisse aliquet purus eu aliquam bibendum. 
                             Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                             lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                             Sed hendrerit eget turpis sed placerat. Nulla nec arcu
                    </div>
        </%block>

        <%block name="center"> 
                    <div class="col-md-4" style="background-color:blue">
                            <p class="text-center"><strong> Center</strong></p>
                            <p class = "text-justify ">
                                    Pellentesque molestie ullamcorper gravida. 
                                    Suspendisse aliquet purus eu aliquam bibendum. 
                                    Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                    lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                    Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                     pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                     sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                     Pellentesque molestie ullamcorper gravida. 
                                     Suspendisse aliquet purus eu aliquam bibendum. 
                                     Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                     lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                     Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                      pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                      sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                      Pellentesque molestie ullamcorper gravida. 
                                      Suspendisse aliquet purus eu aliquam bibendum. 
                                      Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                      lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                      Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                       pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                       sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                                       Pellentesque molestie ullamcorper gravida. 
                                       Suspendisse aliquet purus eu aliquam bibendum. 
                                       Vestibulum pulvinar quis diam vitae facilisis. Sed suscipit 
                                       lacinia pellentesque. Maecenas iaculis consequat sollicitudin. 
                                       Sed hendrerit eget turpis sed placerat. Nulla nec arcu eleifend urna
                                        pharetra venenatis et a dolor. Pellentesque scelerisque nisi eu nunc finibus, 
                                        sit amet lacinia lorem tristique. Aenean rhoncus viverra elit, ac varius risus molestie sed.
                            </p>
                    </div>
        </%block>
        <%block name="right">
            <div class="col-md-4" style="background-color:orange">
                    <p class="text-center"><strong> Right </strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Cras suscipit ullamcorper diam a consectetur. Nullam faucibus malesuada orci, 
                         non lacinia odio sagittis et. Donec vitae ipsum quis turpis consequat feugiat.
                          Cras vestibulum tincidunt feugiat. Nullam dui magna, euismod in porttitor et, 
                          viverra a nisi. Donec vestibulum, risus vitae vehicula imperdiet, lacus felis porta lacus, 
                          eget pharetra justo sem nec sem. Aenean nec convallis odio, eu pellentesque tellus. 
                          Integer arcu eros, fermentum at ultrices in, ultricies at elit. Fusce convallis mi vitae magna 
                          hendrerit condimentum. Donec id magna maximus, fermentum nunc quis, interdum libero. </p>
            </div>
        </div>
    </div>
    
        </%block>






      




